<md-content id="subs-container" layout="row" layout-align="center center" ng-init="vm.srcChanged()">
    <div flex-gt-md="50" flex="100" flex-md="80">
        <div>
            <vrt-videoplayer source="vm.subtitle.video" start="vm.form.start" end="vm.form.end"></vrt-videoplayer>
            <div ng-repeat="(key, l) in vm.srtObj">
                <subtitle-text key="key" in="l.start" out="l.end" text="l.text" current-time="vm.videogular.api.currentTime"></subtitle-text>
            </div>
            <section>
                <md-input-container>
                    <label>URL voor video</label>
                    <input ng-model="vm.subtitle.video" ng-blur="vm.srcChanged()" type="text" />
                </md-input-container>
            </section>
            <rzslider rz-slider-model="vm.form.start" id="vm.key" rz-slider-high="vm.form.end" rz-slider-options="vm.slider.options"></rzslider>
            <form name="templateForm">
                <div layout="row" layout-align="center center">
                </div>
                <md-input-container>
                    <md-input-container class="md-block" flex="100">
                        <textarea ng-model="vm.form.text" md-maxlength="150" rows="1" md-select-on-focus></textarea>
                    </md-input-container>
            </form>
            <section layout="row" layout-align="center center" layout-wrap>
                <md-button class="md-fab" aria-label="In" ng-click="vm.setIn()">
                    < </md-button>
                        <md-button ng-click="vm.addLine(vm.form)" class="md-raised md-primary">Voeg tekst toe</md-button>
                        <md-button class="md-fab" aria-label="Out" ng-click="vm.setOut()">
                            >
                        </md-button>
            </section>
            <md-list>
                <div ng-repeat="(key, l) in vm.srtObj">
                    <subtitle-line key="key" in="l.start" out="l.end" text="l.text" total-time="vm.videogular.api.totalTime"></subtitle-line>
                    <md-button class="md-primary md-raised" ng-click="vm.deleteLine($event, key)" flex="100" flex-gt-md="auto">
                        Verwijder
                    </md-button>
                </div>
            </md-list>
            <md-button ng-click="vm.downloadSRTFile(vm.srtObj)" class="md-raised">Download</md-button>
        </div>
    </div>
</md-content>
